# Jupyter checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# VS Code settings
.vscode/

# Model training outputs
runs/
data/
__pycache__/

# Large datasets
data/clean/dataset_limszeping_set1/
data/clean/dataset_limszeping_set2/
data/clean/dataset_limszeping_set3/

# YOLO model files
*.pt

app/uploaded_weights/
__pycache__/